/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*----------------
    COMMON
-----------------*/
.container{
    display: flex;
    background-color: rgb(173,216,230);
    justify-content: center;
    padding: 16px;
}

.logo{
    width: 240px;
    border: 1px dashed black;
    background-color: rgb(218,165,32);
}

.main-nav{
    width: 725px;
    border: 1px dashed black;
    background-color: rgb(218,165,32);
    
}

.login{
    width: 240px;
    border: 1px dashed black;
    background-color: rgb(218,165,32);
    
}

.container-header-bottom{
    background-color: rgb(0,0,139);
}

.header-content{
    width: 910px;
    height: 395px;
    background-color: rgb(238,130,238);
}